@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap');

/* universal START */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1em $body;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headings;
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $brand-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}
/* universal END */

/* info-block START */

.info-block__title {
  margin-bottom: 20px;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}

.info-block__subtitle {
  @include uppercase();
  color: $brand-color;
  font-size: 0.7rem;
  font-family: $body;
  display: block;
}

.info-block__cta {
  @include uppercase();
  font-size: 0.7rem;
  a {
    border-bottom: 2px solid $brand-color;
  }
}

.info-block__body {
  p {
    font-size: 0.8rem;
    word-wrap: break-word;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
}


/* info-block END */




/* site START */
.site-header {
  padding: 80px 0;
}

.site-logo {
  text-align: center;
  margin-bottom: 10px;
}

.site-nav {
  @include uppercase();
  font-size: 0.7em;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 20px;
  }
  a {
    display: block;
  }
}

/* site END */


/* quote START */
.quote {
  text-align: center;
  margin: 0 auto 35px;
  &::after {
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 35px auto 0;
  }

  .quote__body {
    font-family: $headings;
    font-weight: 400;
    color: $heading-color;
  }

  .quote__name {
    @include uppercase();
    font-size: 0.5rem;
    font-style: normal;
  }
}

/* quote END */

/* showcase START */
.showcase {
  margin-bottom: 50px;
  width: 50%;
  .showcase__body {
    margin-top: 70px;
  }
}

.showcase--bigger {
  margin-top: 30px;
  margin-left: -15%;
}
/* showcase END */

@media screen and (min-width: 400px) {
  .showcase__body {
    width: 70%;
    margin: 30px 0 0 20px;
  }
}

@media screen and (min-width: 720px) {
  .info-block__title {
    text-align: left;
  }

  .info-block__title--bigger {
    h1,h2,h3,h4,h5,h6 {
      font-size: 3rem;
    }
  }

  .info-block__title--fancy {
    &::after {
      content: "";
      width: 46px;
      height: 2px;
      background-color: $brand-color;
      display: inline-block;
    }
  }

  .site-nav, .site-logo {
    text-align: left;
  }

  .hero {
    position: relative;
    margin-bottom: 150px;
  }

  .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
  }

  .hero__img {
    text-align: right;
    img {
      width: 85%;
    }
  }

  .quote {
    width: 50%;
  }
}

.info-block__cta {
  margin-top: 5rem;
}

.info-block {
 padding: 0 1em 0 3em;
}
 
@media (max-width: 1200px) {
  .info-block__cta {
    margin-top: 0rem;
  }
}

.line
  {
    float: center;
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 50px auto 50px auto;
   
  }


  .join__flex  {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    
    .info-block {
     justify-self: center;
        h1 {
          text-align: center;
        }
        p  {
          text-align: center;
        }
    }
  

}
.join__form {
  display: grid;
  p {
    margin: 3em 0;
  }
}
.join__mail__form {
  display: grid;
  grid-template-columns: 90% 10%;
  justify-self: stretch;
   .mail__form {
    padding:0 2em;
   }

  input {
    justify-self: stretch;
    height: 3em;  
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.03);
background-color: #f5f5f5;
border: none;
  }
  button {
    background-color: #5da8ef;
    border: none;
    color: white;
  }

  input::-moz-placeholder {
    
    @include uppercase();
  color: black;
  font-size: 0.7rem;
  font-family: $body;
  display: block;
  letter-spacing: 0.5em;
   
  }

  input::-webkit-input-placeholder {
    @include uppercase();
    color: black;
    font-size: 0.7rem;
    font-family: $body;
    display: block;
    letter-spacing: 0.5rem;
     
    
  }

}

.just_block {
  margin: 300px;
}
    


